body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.logo{
 width: 80px;
 height: 60px;
}
.buttonsNav{
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.button{
  background-color: white;
}